<?xml version="1.0" encoding="UTF-8"?>
<!-- Deployment Descriptor: web.xml -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>CarRent</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.epam.koval.carrent.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.Registration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCars</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCars</servlet-name>
		<url-pattern>/admin/cars</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCar</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.AddCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCar</servlet-name>
		<url-pattern>/admin/addcar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddManager</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.AddManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddManager</servlet-name>
		<url-pattern>/admin/add_manager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListUser</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.ListUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUser</servlet-name>
		<url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCar</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.DeleteCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCar</servlet-name>
		<url-pattern>/admin/delete_car</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditCar</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.EditCar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCar</servlet-name>
		<url-pattern>/admin/edit_car</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BlockUser</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.BlockUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlockUser</servlet-name>
		<url-pattern>/admin/block_user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AnalysisOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.manager.AnalysisOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnalysisOrder</servlet-name>
		<url-pattern>/manager/orders</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConfirmOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.manager.ConfirmOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmOrder</servlet-name>
		<url-pattern>/manager/confirm_order</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CancelOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.manager.CancelOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelOrder</servlet-name>
		<url-pattern>/manager/cancel_order</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RentEnd</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.manager.RentEnd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RentEnd</servlet-name>
		<url-pattern>/manager/order_end</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SelectCars</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.client.SelectCars</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectCars</servlet-name>
		<url-pattern>/client/cars</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistationOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.client.RegistrationOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistationOrder</servlet-name>
		<url-pattern>/client/registration_order</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AcceptOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.client.AcceptOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AcceptOrder</servlet-name>
		<url-pattern>/client/accept_order</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.client.ClientOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientOrder</servlet-name>
		<url-pattern>/client/orders</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PayOrder</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.client.PayOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayOrder</servlet-name>
		<url-pattern>/client/pay</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CarsSelection</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.client.CarsSelection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarsSelection</servlet-name>
		<url-pattern>/client/cars_selection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserCount</servlet-name>
		<servlet-class>com.epam.koval.carrent.web.servlet.admin.UserCount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCount</servlet-name>
		<url-pattern>/admin/users_count</url-pattern>
	</servlet-mapping>


	<resource-ref>
		<res-ref-name>jdbc/car_rent</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>